.main {
  background-color: rgb(62, 62, 252);
}

.main section {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
}

.shopping {
  width: 50px;
  position: relative;
}

.shopping p {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 25px;
  background-color: rgb(166, 166, 250);
  width: 30px;
  height: 30px;
  display: flex;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
